.ui-page {
	font-family: verdana, tahoma, helvetica, sans-serif;
	/*background-color: #aaaaaa;*/
	/*background-image: url("../images/wood_texture.jpg");*/
}

html, body {
	height: 100vh;
	margin: 0;
}

#page {
	font-family: verdana, tahoma, helvetica, sans-serif;
	min-height: 100vh-20px;
	padding-bottom: 30px;
}

/* Page Header */

div#headerActual.ui-bar {
	float: left;
	width: 100%;
	border-top: none !important;
	padding: 0 !important;
	background-color: black;
}

div#pageHeader {
	float: left;
	height: 48px;
}

img#headerLogo {
	float: left;
	height: 48px;
	margin: none;
	margin-right: 5px;
	padding: none;
	/*background-color: white;
	border-radius: 10px;*/
	border: dashed 0px purple;
}

#pageHeader a {
	text-decoration: none;
	cursor: pointer;
}

a#headerTitle {
	display: block;
	float: left;
	padding-top: 15px;
	font-size: 12px;
	height: 48px;
	color: #ededed;
}

div#breadCrumbs {
	float: right;
	font-size: 12px;
	margin-top: 3px;
}

/* Index */

div.indexHeader {
	text-align: center;
	font-size: 16pt;
}

div.bigContainer {
	box-shadow: 4px 4px 4px #cccccc;
	border-radius: 10px;
	margin-top: 20px;
	background-color: #ffffff;
}

div.bigContainerTitle {
	font-size: 13pt;
	font-weight: bold;
	border: none;
	background-color: #e7e7e7;
	border-radius: 10px 10px 0px 0px;
	padding: 10px;
	margin-top: 10px;
}

div.bigContainerInner, #indexCreatePollContainer {
	border: solid 2px #e7e7e7;
	border-radius: 0px 0px 10px 10px;
	padding: 10px;
}

/* Polls */
#statusMsg {
	border-radius: 7px;
	padding: 0px 5px 0px 5px;
	float: left;
	border: solid 2px #cccccc;
}

div#pollTitle {
	font-weight: bold;
	font-size: 14pt;
}

a.pollLink:link, a.pollLink:hover, a.pollLink:visited {
	display: block;
	float: left;
	height: 50px;
	width: 100%;
	border: solid 1px #cccccc;
	border-radius: 7px;
	text-decoration: none;
	padding: 5px;
	color: #38c;
	font-weight: bold;
}

div.pollInfo {
	display: block;
	font-weight: normal;
	font-size: 12px;
	color: black;
	vertical-align: top;
	color: #999999;
	border-radius: 5px;
}

div.pollInfoVotes {
	float: left;
	border: dashed 0px orange;
	font-size: 14px;
	vertical-align: top;
	color: black;
	padding: 5px;
	margin-right: 5px;
	margin-left: 1px;
	margin-top: 2px;
	background-color: #ededed;
	border-radius: 5px;
}

div#pollButtonContainer {
	text-align: center;
}

#createPollButton, #addAnswerButton {
	margin: 0px auto;
}

form.answerForm {
	float: left;
	border-radius: 7px;
	background-color: #eeeeee;
	margin: 5px 5px 0px 0px;
	box-shadow: 2px 2px 4px #cccccc;
	padding-left: 10px;
}

div#customSlugInputContainer {
	display: none;
}

input#fsCustomSlugInput.highlightInputGreen {
	border: solid 1px green;
}

input#fsCustomSlugInput.highlightInputRed {
	border: solid 1px red;
}

table#resultsTable th {
	font-size: 12px;
}

table#resultsTable td.number {
	font-family: monospace;
	text-align: right;
	font-size: 14pt;
}

td.barGraphTd {
	position: relative;
}

div.barGraph {
	font-size: 10px;
	height: 20px;
	width: 1px;
	background-color: #38C;
}

div.barGraphData {
	display: inline;
	float: left;
	font-size: 10px;
	height: 20px;
	color: white;
	text-shadow: 1px 1px 2px #000000;
	position: absolute;
	top: .4em;
	left: 5px;
}

tr.answerResults.advances {
	background-color: #dddddd;
}

td.rankCell {
	width: 20px;
	text-align: center;
}

td.rankCell.advances {
	background-image: url(../../../web/images/icons-png/star-gold.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

div#runoffResults, div#pollResultsContainer {
	float: left;
	border-radius: 7px;
	padding: 5px;
	background-color: #eeeeee;
	box-shadow: 2px 2px 4px #cccccc;
	margin-bottom: 10px;
}

div#runoffResults {
	margin-left: 10px;
}

div#resultsArrow {
	font-size: 30px;
	float: left;
	padding-top: 20px;
	margin-left: 5px;
	font-weight: bold;
}

.answerForm.ui-radio {
	width: 42px;
	height: 45px;
}

.starNumber {
	background-image: url(https://starvote.msmunter.com/web/images/icons-png/star-gold.png);
	background-repeat: no-repeat;
	background-position: center;
    /*background-size: 60%;*/
}

.starText {
	color: #cccccc;
}

#shareURLInput {
	width: 75%;
}

table#resultsTable {
	border-collapse: collapse;
}

table#resultsTable th {
	text-align: left;
	border-bottom: solid 1px #cccccc;
}

table#resultsTable tr {
	border-top: solid 1px #cccccc;
}

table#resultsTable tr.barGraphTr, table#resultsTable tr.headerRow {
	border-top: none;
}

/* Page Footer */
div#footer {
	font-size: 14px;
	text-align: center;
	padding: 5px;
	height: 20px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

div#footer a:link {
	text-decoration: none;
}

/* Global */
.ui-link {
	/*color: #c9e3b5 !important;*/
}

/* Generic Classes */
.firstRow {
	background-color: #dfdfdf;
}

.secondRow {
	background-color: #ffffff;
}

.numberCell {
	text-align: right;
}

.alignLeft {
	text-align: left !important;
}

.alignRight {
	text-align: right !important;
}

.hidden {
	display: none;
}

.center {
	text-align: center;
}

.clear {
	clear: both;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.alignright {
	text-align: right;
}

.monospace {
	font-family: monospace;
}

.pageBreak	{
	display: none;
}